<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <%- include('./common/javascript')%>
      <%- include('./common/stylesheets')%>
  </head>
  <body>
    <div class="container">
    <title><%= title %></title>
    <h3>Email Id- <%= data.e %></h3>
    <h3>Name- <%= data.n %></h3>
    <!-- <p>Welcome to <%= data %></p> -->
    <div align="center">
    <button  type="button" id="sub" class="btn btn-primary btn-lg" name="button">Logout</button>
    </div>
    </div>

    <script>
  $(document).ready(function() {
     $("#sub").click(function(){
    $.ajax({
        type:"GET",
        url:"/logout",
        // data:data,    // multiple data sent using ajax,send all form contant by a single object
        success: function (result) {
            // alert("successfully log out !");
            new PNotify({
              title: 'Log out!',
              text: 'successfully log out !',
              icon: 'fa fa-envelope-o',
              type:'success'
            });
            window.location.href = "/login/";
        }
      });

    });
  });
</script>
  <%- include('./common/javascript')%>
  </body>
</html>
